#header {
    color:black;
    background-color: #fff;
    padding: 15px;
}

#logo{
    color: #0B62A0;
    font-size: 2rem;
    margin-top: 5px;
    position: absolute;
    margin-right: 313px;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display:inline-block;
}

#menu li a {
    color:black;
    padding: 15px 10px;
   display: block;
  
}

.shadow{
    background-color:#fff;
    margin-top: 80px;
    width: 100%;
    height: 510px;
    border-radius: 10px;  
    overflow-y: scroll;
}

.form-check{
    padding: 4px;
    margin-left: 23px;
}

.set-label{
    width: 100%;
    background: lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-left: -15px;  
}

.hide{
     display: none;
}

h4{
    text-align: left;
    padding: 10px;
}

.form-group{
    text-align: left;
}

.noValue{
    margin-top: 180px;
    font-weight: 500;
    font-size: 20px;
}

.remove{
    background: lightgrey;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #logo {
        margin-right: 0px;
    }
}